{
  "presets": [
    "env",
    "next/babel"
  ],
  "plugins": [
    "inline-react-svg",
    "transform-flow-strip-types",
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
       ">mocks": "./mocks",
       "@components": "./src/components",
     }
    }]
  ]
}
